name: Deploy to Now

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      env:
        CI: true
  deploy:
    name: Publish to prod
    runs-on: ubuntu-latest
    - uses: actions/checkout@v2
    steps:
    - name: deploy
      run: npm install && npx now --target production --token ${{ secrets.ZEIT_TOKEN }}
